
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


@import "tailwindcss";


@theme {
  --font-macondo: "Macondo", cursive;
  --font-rhytm: "Rhytm", sans-serif;
}

@font-face {
  font-family: Rhytm;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/src/fonts/Rhythm\ of\ the\ Blast.ttf") format("truetype");
}

